certifi==2026.6.17
charset-normalizer==3.4.9
dateformat==0.9.7
dateparser==1.4.1
docutils==0.23
filetype==1.2.0
idna==3.18
Kivy==2.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
pillow==10.4.0
Pygments==2.20.0
pypiwin32==223
python-dateutil==2.9.0.post0
pytz==2026.2
pywin32==312
regex==2026.6.28
requests==2.34.2
six==1.17.0
tzdata==2026.2
tzlocal==5.4.4
urllib3==2.7.0
